<!DOCTYPE html>
<html>
<head>
<title>Product App</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="nav-bar">
    </div>

    <div id="app">
        <div class="product">

            <div class="product-image">
                <img :src="image">
            </div>

            <div class="product-info">
                <h1>{{ Product }}</h1>
                <p v-if="inventory > 10">In Stock</p>
                <p v-else-if="inventory > 0">Almost Sold Out!</p>
                <p v-else :class="{ outOfStock: !inStock }">Out of Stock</p>
                <p v-show="onSale">On Sale!!</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

                <div v-for="variant in variants" 
                    :key="variant.variantId"
                    class="color-box"
                    :style="{backgroundColor: variant.variantColor}"
                    @mouseover="updateImage(variant.variantImage)">
                </div>

                <button @click="removeFromCart" :disabled="cart == 0" :class="{ disabledButton: cart == 0}">Remove from Cart</button>
                <button @click="addToCart" :disabled="inventory == 0" :class="{ disabledButton: inventory == 0}">Add to Cart</button>

                <div class="cart">
                    <p>Cart {{cart}}</p>
                </div>

            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>